venv
run_ignore.sh
.env
slurm-*.out
**/__pycache__/
run_full_mcq_2.sh
full_main_2.py
full_mcq_task_2.py
**.pyc
**.DS_Store
results/mcq_results/relevant/direct/mmlu/Mixtral-8x7B-Instruct-v0.1_0.8259680822609884_final.csv
results/mcq_results/relevant/direct/mmlu/Mixtral-8x7B-Instruct-v0.1_0.8259680822609884_final.csv
